.contenedor2 {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  

  .contenedor2 h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; 
  }
  

  .contenedor2 input[type="number"] {
    padding: 8px;
    margin: 4px 0;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  
  .contenedor2 button {
    display: block; 
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contenedor2 button:hover {
    background-color: #0056b3;
  }
  
  
  .contenedor2 p {
    font-size: 18px;
    color: #333;
    margin-top: 10px; 

    
  }